@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

a, a:visited, a:hover, a:link {
  color: rgb(44, 105, 155);
  text-decoration: none;
  padding: 10px;
}
a:hover {
  color: #777;
}

nav {
  position: sticky;
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: solid #dbdbdb 1px;
  left: 0px;
  top: 0px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button-logout {
  padding: 20px;
}

/* CSS style for login signup pages */
/* .rounded-t-5 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
  .rounded-tr-lg-0 {
    border-top-right-radius: 0;
  }

  .rounded-bl-lg-5 {
    border-bottom-left-radius: 0.5rem;
  }
} */

.onboarding-application-wrapper, .hiringManagementWrapper {
  padding: 5px 20px;
}

.onboarding-application-wrapper .form-row{
  display: flex;
  justify-content: space-between;
  margin: 8px 0px;
}

.onboarding-application-wrapper fieldset, data-field {
  margin: 20px 0;
}

.hiringManagementWrapper table, th, td {
  border: 1px solid black;
  border-collapse: collapse
}

/* .onboarding-application-wrapper input{
  pointer-events: none;
  background-color: lightgrey;
} */

.hiringManagementWrapper table{
  width: 100%;
}

.onboarding-application-wrapper .profilePicture{
  width: 100px;
  height: 100px;
  border: 1px solid black
}

.onboarding-application-wrapper .profilePicture img{
  width: 100px;
  height: 100px;
}

.onboarding-application-wrapper .profilePictureWrapper{
  display: flex;
  justify-content: flex-end;
}